<div class="panel panel-success ">
  <div class="panel-heading">
      <div class="row">
          <div class="col-md-9">
              <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">الكشف (9/13/2018 2:13:16 م)</font></font></h5>
          </div>
      </div>
  </div>
  <div class="panel-body">
      <div class="row">
          <div class="col-md-1 col-sm-1 col-xs-1">
              <div class="row" style="border-bottom:1px solid #afacac">
                  <div class="col-md-6 col-sm-8 col-xs-8" style="border-right:1px solid #afacac;min-height:20px">
                      <div class="col-md-2 col-sm-2 col-xs-2 pull-right"></div>
                      <div class="col-md-2 col-sm-2 col-xs-2"></div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6" style="border-left:1px solid #afacac">
                      <div class="col-md-2 col-sm-2 col-xs-2"></div>
                              <span class="col-md-1 col-sm-1 col-xs-1" data-id="1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font></span>
                      <div class="col-md-2 col-sm-2 col-xs-2"></div>
                  </div>
              </div>
              <div class="row" style="border-top:1px solid #afacac">
                  <div class="col-md-6 col-sm-6 col-xs-6" style="border-right:1px solid #afacac;min-height:20px">
                      <div class="col-md-2 col-sm-2 col-xs-2 pull-right"></div>
                      <div class="col-md-2 col-sm-2 col-xs-2"></div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6" style="border-left:1px solid #afacac">
                      <div class="col-md-2 col-sm-2 col-xs-2"></div>
                      <div class="col-md-2 col-sm-2 col-xs-2"></div>
                  </div>
              </div>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-9">
                  <div class="table-responsive">
                      <table class="table table-bordered">
                          <thead>
                              <tr>
                                  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      اسم الخدمة
                                  </font></font></th>
                                  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      بداية
                                  </font></font></th>
                                  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      إنهاء
                                  </font></font></th>
                                  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      كلفة
                                  </font></font></th>
                                  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      خصم
                                  </font></font></th>
                                  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      مطلوب
                                  </font></font></th>
                                  <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                      دفع
                                  </font></font></th>
                              </tr>
                          </thead>
                          <tbody>
                                  <tr class=" success ">
                                      <td class="text-center">الكشف</td>
                                      <td class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">13/09/2018</font></font></td>
                                      <td class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">13/09/2018</font></font></td>
                                      <td class="text-center"><font style="vertical-align: inherit;"><font class="" style="vertical-align: inherit;">200.00 ج</font></font></td>
                                      <td class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">- </font></font></td>
                                      <td class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">200.00 ج</font></font></td>
                                      <td class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">200.00 جنيه</font></font></td>
                                  </tr>
                          </tbody>
                      </table>
                  </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2">
          </div>
      </div>
  </div>
</div>
